<?xml version="1.0"?>
<config>
    <modules>
        <Igord_CustomApi>
            <version>1.0.0</version>
        </Igord_CustomApi>
    </modules>
    <global>
        <models>
            <customapi>
                <class>Igord_CustomApi_Model</class>
                <resourceModel>customapi_resource</resourceModel>
            </customapi>
            <customapi_resource>
                <class>Igord_CustomApi_Model_Resource</class>
                <entities>
                    <support>
                        <table>customapi_support_request</table>
                    </support>
                    <token>
                        <table>customapi_auth_token</table>
                    </token>
                </entities>
            </customapi_resource>
        </models>
        <resources>
            <customapi_setup>
                <setup>
                    <module>Igord_CustomApi</module>
                    <class>Igord_CustomApi_Model_Resource_Setup</class>
                </setup>
            </customapi_setup>
        </resources>
        <helpers>
            <customapi>
                <class>Igord_CustomApi_Helper</class>
            </customapi>
        </helpers>
        <blocks>
            <customapi>
                <class>Igord_CustomApi_Block</class>
            </customapi>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <Igord_CustomApi>
                    <files>
                        <default>Igord_CustomApi.csv</default>
                    </files>
                </Igord_CustomApi>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Igord_CustomApi>
                    <files>
                        <default>Igord_CustomApi.csv</default>
                    </files>
                </Igord_CustomApi>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <customapi>
                <use>admin</use>
                <args>
                    <module>Igord_CustomApi</module>
                    <frontName>customapi</frontName>
                </args>
            </customapi>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <customapi_clear_old_support_requests>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>customapi/SupportRequest_ClearOldRequestsCron::clear</model>
                </run>
            </customapi_clear_old_support_requests>
        </jobs>
    </crontab>
    <customapi>
        <support>
            <email>customapi@support.com</email>
            <clear_old>
                <days>30</days>
            </clear_old>
        </support>
    </customapi>
</config>